# Add any directories, files, or patterns you don't want to be tracked by version control

#Files

*.jar
*.war
*.ear
project.properties
.classpath
.project
HELP.md
mvnw
mvnw.cmd


#directories
*/**/.settings/
*/**/.mvn/
*/**/.sonar/
*/**/target
*/**/bin/

#Class
*.classpath
*.DS_Store
*.class
*.txt

#Eclipse_workspace_data
*/**/.metadata/

#IDE_specific_files
*/**/.project
*/**/nb-configuration.xml

/target/